@import url("style.css");

/* add class css */



main {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

header {
}

footer {
    height: 100px;
}

#mypage_container {
    position: relative;
    width: 100%;
    display: flex;
    padding: 66px 66px 0 66px; ;
}

li {
    list-style: none;
}

#s1_container {
    width: 50%;
    border:1px solid black;

}

.s1_gap {


}


.s1_wrapper {
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.textbox {
    width: 50%;
    border: 2px solid #febe2e;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
    color: #febe2e;
    background-color: white;
}

/*

버튼 디자인 
.textbox:hover {
  width: 50%;
  border: 2px solid white;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  background-color: #febe2e;
} */



.textbox::placeholder {
    color: black;
}

.textbox:focus {
    border-color: #febe2e;
    box-shadow: var(--light-shadow);
}

.course_title {
 	margin-top: 30px;
    width: 100%;
    height: 10%;
}

.course_search {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}

.course_add {
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    /* justify-content: center; */
    /* display: flex; */
}

.pose_info_box {
    position: relative;
    display: flex;
    justify-self: center;
    flex-direction: column;
    height: 547px;
    text-align: center;
    display: flex;
    margin-left: 243.5px;
}

.pose_info_gap {
    margin-bottom: 20px;
}

.pose_info_wrapper {
    margin-bottom: 30px;
}

.pose_wrap_box {
    /* width: ; */
}



#sortable_list1 {
    overflow: auto;
}

.pose_content_box {
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;  
    box-shadow: var(--light-shadow);
    background-color: white;
    user-select: none;
    width: 400px;
    height: 165px;
}

.pose_picture {

}
.info_box{
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.s1_img {
    width: 250px;
    height: 165px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.pose_textarea {
    text-align: center;
    width:150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pose_title {
    margin-top:25px;
    font-weight: bolder;
    font-size: 16x;
    text-align: center;
    width:100%;
    margin-bottom: 10px;
}


.pose_time {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 29px;
    font-size:12px;
}

i {
    margin-top: 2.5px;
    margin-bottom: 5px;
    margin-right: 10px;
    text-align: 29px;
}

.pose_tag {
    display: flex;
    flex-direction: row;
    line-height: 29px;
    text-align: center;
    font-size:12px;
    justify-content: center;
}


.difficulty {
    display: flex;
    flex-direction: row;
    line-height: 29px;
    text-align: center;
    font-size:12px;
    justify-content: center;
}

.add_pose {
    /* box-shadow:inset 0px 1px 0px 0px #cf866c; */
    /* background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%); */
    background-color: white;
    border-radius: 3px;
    border: 2px solid #febe2e;
    display: inline-block;
    cursor: pointer;
    color: #febe2e;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 30px;
    text-decoration: none;
    /* text-shadow:0px 1px 0px #854629; */
    text-align: center;
}

.add_pose:hover {
    /* box-shadow:inset 0px 1px 0px 0px #cf866c; */
    /* background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%); */
    background-color: #febe2e;
    border-radius: 3px;
    border: 2px solid white;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 30px;
    text-decoration: none;
    /* text-shadow:0px 1px 0px #854629; */
    text-align: center;
}



/* s2 */

#s2_container {
    width: 50%;
    border: 1px solid red;
}
.s2_titlebox {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.s2_title {
    border: 2px solid #febe2e;
    color: black;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    /* margin-top: 40px; */
    text-align: center;
    line-height: 45px;
    /* padding-top: 50px; */
}

.s2_gap {
}

.s2_wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    height: 567px;
}

.list_box {
    position: relative;
    height: 510px;
    overflow: scroll;
    width: 400px;
    /* margin-bottom: 40px; */
}

#sortable_list2{
    width: 400px;
    height: 400px;
    border:2px solid black;
}


.button_box {
    margin-top:20px;
    text-align: center;
}



.addItem:hover {
    width: 50%;
    border: 2px solid white;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box		;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    background-color: #febe2e;
}

.addItem {
    width: 50%;
    border: 2px solid #febe2e;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 10px;
    color: #febe2e;
    background-color: white;
}

.pose_content_box > .fa-trash-alt {
    visibility: hidden;
}

#object1 > .fa-trash-alt {
    visibility: visible;
}

