@import url("style.css");

body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

main {
	width: 100%;
	height: 100%;
}

.main_wrapper{
		height: 70px;
		margin-top: 30px;
		position: absolute;
		display: flex;
		width: 100%;
}


.course-first_container .course_bg {
	background-image: url("../image/course/course_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 730px;
	background-position-y: -170px;
	opacity: 0.9;
	z-index: -5;
}

.course-bg_title_section {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 115px;
	margin-top: 350px;
	margin-left: 154px;
	color: white;
}

.course-bg_title_section .course-bg_title {
	font-size: 28pt;
	line-height: 40px;
}

.course-bg_title_section .course-bg_explain {
	font-size: 12pt;
	line-height: 20px;
	margin-top: 15px;
}

.course-categories_container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	padding: 0px 250px 0px 250px;
	margin-top: 30px;
	margin-bottom: 25px;
}

.course-categories_container .course-categories_left {
	display: flex;
}

#course-view_all, #course-view_yogayo_course {
	all: unset;
	cursor: pointer;
	text-align: center;
	border-radius: 50px;
	font-size: 15px;
	border: 1px solid gray;
	background-color: white;
	width: 30%;
	padding: 9px 15px 9px 15px;
	margin-right: 10px;
}

#course-view_user_course {
	all: unset;
	cursor: pointer;
	text-align: center;
	border-radius: 50px;
	font-size: 15px;
	border: 1px solid gray;
	background-color: white;
	width: 40%;
	padding: 9px 15px 9px 15px;
	margin-right: 10px;
}

#courses_sort {
	all: unset;
	cursor: pointer;
	text-align: center;
	border-radius: 50px;
	font-size: 15px;
	border: 1px solid gray;
	background-color: white;
	padding: 9px 17px 9px 17px;
	position: relative;
}

.sort_menu {
	position: absolute;
	border: 1px solid #dddddd;
	border-radius: 25px;
	margin-top: 10px;
	padding: 20px;
	z-index: 2;
	background-color: white;
	visibility: hidden;
}

.sort_menu li {
	margin-top: 10px;
}

.course-courses_container {
	display: flex;
	justify-content: center;
	align-item: center;
}

.courses_first_line {
	border-top: 1px solid #e5e5e5;
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: center;
	align-item: center;
	margin: 0px 250px 0px 250px;
	line-height: 20px;
	margin-top: 20px;
	padding-top: 60px;
}

.course-courses_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-item: center;
}

.more_course_btn {
	display: flex;
	justify-content: center;
	align-item: center;
	margin-bottom:50px;
}

.more_course_btn #more_course_btn {
	all: unset;
	cursor: pointer;
	width: 20%;
	height: 48px;
	text-align: center;
	border-radius: 10px;
	font-size: 13pt;
	background-color: white;
	border: 1px solid black;
	margin-bottom: 50px;
	box-shadow: var(- -light-shadow);
}

.img_wrapper{
	width: 333px;
	height: 330px;
	overflow: hidden;
	background-color: black;
	text-align: center;
}

.course-courses_container .course_container img {
	height: 350px;
}

.up-on-scroll {
	font-weight: 400;
	width: 25%;
}

.course_container {
	font-weight: 400;
	margin-bottom: 110px;
	width: 95%;
	margin-left: 10px;
}


.course_container a {
	color: black;
}


.course_container .course_star_rating {
	font-size: 11pt;
}


.course_star_rating i {
	color: var(--theme-color);
}

