@import url("style.css");

@keyframes up {
  100% {
    transform: translateY(0);
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

/* --------------------첫번째 세션--------------------- */
.main-first_bg {
  position: relative;
  background-image: url("../image/home/header1.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  /* background-position-y: -100px; */
  z-index: 1;
}

.main-first_bg img{
  width: 100%;
}

.temp1 {
   padding-left: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.loading{
   width: 411px;
   height:565px;
   position: absolute;
   z-index:3;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0.8;
}

.loader{
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.load_text{
   margin-left: 30px;
   font-size:20px;
   font-weight: 500;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main-first_title_section {
  position: absolute;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-top: 100px;
  margin-left: 100px;
  overflow: hidden;
}

.main-first_title_section .main-title {
  display: flex;
  font-size: 20pt;
  line-height: 38px;
  color: white;
}

.main-first_title_section .main-sub_title {
  display: flex;
  font-size: 12pt;
  color: white;
  margin-top: 16px;
  line-height: 140%;
}

#main-start_btn {
  all: unset;
  cursor: pointer;
  padding: 9px 10px 9px 10px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  background-color: white;
  margin-top: 17px;
}


/* .up-on-scroll {
  transition: transform 0.7s, opacity 1s;
  width: 100%;
} */

/* --------------------첫번째 세션--------------------- */


/* --------------------두번째 세션--------------------- */
.main-second_bg {
  /* border: 2px solid springgreen; */
  height: 270px;
  display: flex;
  flex-direction: row;
  /* justify-content: center;  */
  /* width: 300%; */
  overflow-x: scroll;
  overflow-y: unset;
  scrollbar-width: none;
}

.main-second_bg a:link{
  color: black;
}

.main-second_bg a:visited{
  color: black;
}

.main-second_bg::-webkit-scrollbar{
  display: none;
}

.main-second_container .up-on-scroll {
   
}

.main-second_container img {
  height:80%;
  border-radius: 12px 12px 0px 0px;
  width: 300px;
    height: 200px;
}

.main-recommand {
  /* border: 2px solid red; */
  box-shadow: var(--light-shadow);
  background-color: white;
  /* margin-left: 20px; */
  /* transform: translateY(5rem); */
  /* animation: up 500ms linear forwards; */
    width: 75%;
    height: 90%;
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 12px;
}


.main-recommand .main-first_course{
  padding: 10px 10px 0px 20px ;
  height: 20%;
  width: 100%;
  /* border: 2px solid red; */
}

.main-second_course,
.main-third_course {
  padding: 10px 10px 0px 20px ;
  height: 20%;
  width: 100%;
  /* border: 2px solid red; */
}

.main-course_title {
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
  width: 100%;
  height: 18px;
  overflow: hidden;
}

.main-first_course_explain,
.main-second_course_explain,
.main-third_course_explain {
  display: none;
}

/* ----------------------두번째 세션------------------ */



/* ----------------------세번째 세션------------------ */

.main-third_container {       /*-----세번째 세션 전체-------*/
  background-color: black;
  color: white;
  margin-top: 30px;
  /* display: flex;
  flex-direction: column; */
  height: 62%;
}

.main-third_container > .up-on-scroll{

}

.main-third_container a:link{
  color: white;
}

.main-third_container a:visited{
  color: white;
}

.main-third_container img{       /*----------사진----------*/
  height:100%;
  width: auto;
} 

.main-third_bg {
  display: flex;
         /* flex-direction: row; */
  justify-content: space-around;
  padding-top: 20px;
  width: 100%;
 /*  border:1px solid white; */
}

.main-latest_title_section {
  width:50% ;
}

.main-latest_courses_title {
  font-size: 20pt;
  margin-top: 10px;
  margin-left: 13px;
  width: 100%;
}

.main-latest_courses_title  p{
  color: white;
}

.main-latest_courses_explain{
  display: none;
}

.main-to_course_btn_section{
   display: flex;
   width:30%;
   height:35px;
   margin-top: 5px;
}

.main-to_course_btn_section a {
  color: white;
}

#main-to_course_btn {
  all: unset;
  cursor: pointer;
  padding: 9px 10px 9px 10px; 
  width: 100%;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgba(250, 250, 250, 0);
  color: white;
}

/*//////////////////////////////////////////////////////////////////////////////////*/


.main-latest_sections{    /*크게 전체를 감싸는 div*/
  display: flex;
  overflow-x: scroll;
  overflow-y: unset;
  scrollbar-width: none;
  height: 75%;
  margin-top: 20px;
  /* border:3px solid blue */
}

/* .main-latest_sections a{
  border:3px solid blueviolet;
  width: 100%;
} */

.main-latest_sections::-webkit-scrollbar{
  display: none;
  
}

.main-latest_section2{     /*3개를 감싸는 div*/
  background-color:black;
  display:flex;
  height: 100%;
}


.main-small_latest_courses{    /* 3개중 2개 포함하는 div */
   display:flex;
  flex-direction: row;
  height: 100%;
  box-shadow: var(--light-shadow);
}



.main-latest_section{        /*1개만*/
  width: 300px;
  overflow:hidden;
  height: 100%;
  margin: 0px 20px 0px 25px;
  box-shadow: var(--light-shadow);
  border-radius: 12px;
  background-color:  #222222;
  /* border: 1px solid red; */
}
/* ---------------------------제일 큰 틀---------------------------- */



.main-latest_section .main-first_course {
  width: 100%;
  height: 0%;
  padding: 8px 15px 0px 15px ;
  margin-bottom: 5px;
  background-color:  #222222;
  border-radius: 0px 0px 12px 12px; 
}

.main-latest_sections .main-first_course{
  width: 100%;
  height: 15%;
  padding: 13px 15px 0px 15px ;
  background-color:  #222222;
  border-radius: 0px 0px 12px 12px; 
}
  
.main-first_course_title {
  width: 100%;
  height: 16px;
  overflow: hidden;
  margin-top: 4px;
}



.main-small_latest1{
   width: 300px;
  overflow:hidden;
  height: 100%;
  border-radius: 12px;
  margin: 0px 20px 0px 0px;
  background-color:  #222222;
}

.main-samll_latest2{
   width: 300px;
  overflow:hidden;
  height: 100%;
  border-radius: 12px;
  margin: 0px 20px 0px 0px;
  background-color:  #222222;
}

.main-latest_section2-2 {
  width: 300px;
  height: 100%;
  overflow:hidden;
  border-radius: 12px;
  margin-right: 20px;
}

.main-latest {
  width: 300px;
  height: 100%;
  margin: 0px 20px 0px 0px;
  box-shadow: var(--light-shadow);
  
  background-color:  #222222;
}
.main-latest img {
  height: 100%;
  border-radius: 12px 12px 0px 0px ;
}


/* -------------------이미지 레퍼----------------------- */
.img_wrapper{
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img_wrapper2{
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img_wrapper3{
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
}




/* -----------------세번째 세션--------------------- */

 /*-----------------news-----------------------*/

.newsletter_section{
  display:none;
}

.newsletter_modal hiding{
  display:none;
}
.temp {
  display:none;
}