@import url("style.css");

body {
	width: 100vw;
	height: 200vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo-wrapper {
	width: 150px;
	height: 150px;
	padding: 25px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box-div {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(0, 0, 0);
	transition: all 0.3s linear;
	box-shadow: var(- -light-shadow);
	transform: perspective(400px) rotateX(80deg);
}

.logo-wrapper:hover .box-div {
	transform: none;
}

.logo-wrapper span {
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	top: 46px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out 0s;
	display: block;
}

.logo-wrapper:hover span {
	opacity: 0;
	top: 46px;
}

.login_title {
	margin-top: 100px;
	font-size: 400px;
	font-weight: 800;
	-webkit-text-fill-color: rgb(255, 255, 255);
	-webkit-text-stroke-color: rgb(0, 0, 0);
	-webkit-text-stroke-width: 2px;
	line-height: 250px;
	margin-bottom: 100px;
	transition: all 0.6s ease-in-out;
}

.login_title:hover {
	line-height: 180px;
}

.login_form {
	width: 500px;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.login_form input[type="text"], .login_form input[type="password"] {
	text-align: center;
	width: 400px;
	height: 50px;
	font-size: 23px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid black;
}

input:focus {
	outline: none;
}

.login_form input[type="submit"] {
	width: 400px;
	height: 50px;
	margin-top: 30px;
	font-size: 23px;
	border: none;
}

header {
	position: fixed;
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	background-color: white;
}

.menu_list {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.menu_list li {
	font-weight: 300;
	font-size: 20px;
	border-top: 0.5px dotted black;
	border-left: 0.5px dotted black;
	border-bottom: 0.5px dotted black;
	padding: 30px 50px 30px 50px;
	transition: all 0.2s ease-in-out;
}

.menu_list li:nth-last-child(1) {
	border-right: 0.5px dotted black;
}

.menu_list li:hover {
	background-color: black;
	color: white;
}

main {
	width: 100%;
	height: 100vh;
	z-index: 0;
	padding-top: 300px;
	margin-left: 250px;
	margin-right: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .pose_section {
	width: 280px;
	height: 420px;
	position: fixed;
	right: 35px;
	top: 446px;
	box-shadow: var(--light-shadow);
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	border: 1px solid lightgrey;
	background-color: white;
	animation: upanddown 4s infinite;
}

.pose_section_cover{
	z-index: 3;
	top:-1px;
	position:absolute;
	width: 280px;
	height: 420px;
	opacity:1;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
	font-size: 21px;
	text-align: center;
	padding-left: 10px;
	padding-right:10px;
	line-height: 30px;
	font-weight: lighter;
	
}

.pose_section .pose_section_wrapper {
	position: relative;
	width: 100%;
	height: 420px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 15px 10px 10px 10px;
}

.pose_img {
	background-position-x: center;
	width: 250px;
	height: 370px;
	background-size: cover;
	background-image:
		url("https://blobs.ekhartyoga.com/mediauploads/ekhartyoga.com/public_html/img/cache/media_64217_widen_1000_100-Boat%20pose%20Navasana%20Ekhart%20Yoga.jpg");
	width: 250px;
}

.pose_section_title {
	font-size: 18px;
	margin-bottom: 15px;
	text-align: center;
	line-height: 20px;
}

.pose_desc_wrapper {
	width: 250px;
	height: 80px;
	margin-top: 15px;
}

.pose_desc_wrapper ul {
	display: flex;
	justify-content: center;
}

.pose_desc_wrapper ul li {
	border-left: 2px solid lightgrey;
	height: 55px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	width: 75px;
}

.pose_desc_wrapper ul li:nth-child(1) {
	border-left: none;
}

.pose_th {
	font-size: 11px;
	opacity: 0.5;
}

.pose_desc_wrapper .value {
	font-size: 18px;
}

.member_title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 27px;
	margin-bottom:50px;
}

.underline {
	border-bottom: 10px solid #febe2e;
	display: inline-block;
	line-height: 0.27;
}

.btnMenu {
	display: flex;
	margin-bottom: 50px;
}

.create_btn, .admin_btn, .member_btn {
	border: 1px solid black;
	padding: 20px 30px 20px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.wrapper {
	width: 1200px;
	display: grid;
	grid-template-columns: 100px;
	margin-bottom: 30px;
	grid-gap: 1px;
}

.wrapper div:not(.img) {
	border: 1px solid #979797;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 5px 10px 5px;
}

.th {
	color: #979797;
	width: 100px;
}

.courseNum_ {
	grid-column: 1/2;
	width: 100px;
}

.createdBy_ {
	grid-column: 2/3;
	width: 100px;
}

.title_ {
	grid-column: 3/7;
	width: 403px;
}

.desc_ {
	grid-column: 7/12;
	width: 504px;
}

.modify_ {
	grid-row: 1/5;
	grid-column: 12/13;
	background-color: black;
	color: white;
	width: 100px;
	transition: 0.1s all ease-in-out;
	cursor: pointer;
}

.modify_:hover {
	background-color: #febe2e;
}


.imgPath {
	grid-column: 3/4;
	width: 100px;
	position: relative;
	cursor: pointer;
}

.img{
	position:absolute;
	top:0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width:0px;
	height:0px;
	z-index: 10;
	background-color: #f0f0f0;
	border-radius: 10px;
}

.img img{
	width:600px;
}

.imgPath:hover > .img{
	width:300px;
	height:300px;
	box-shadow: var(--light-shadow);
}



.courseNum {
	grid-column: 1/2;
	grid-row: 2/5;
	width: 100px;
}

.createdBy {
	grid-column: 2/3;
	width: 100px;
}

.title {
	grid-column: 3/7;
	width: 403px;
}

.desc {
	grid-column: 7/12;
	width: 504px;
}

.metarial_ {
	grid-column: 2/3;
	width: 100px;
}


.seq {
	cursor: pointer;
}

.seq:hover {
	background-color: #fff1ae;
}

@keyframes upanddown { 

	0%{transform: translateY(10px);
}
	50%{transform: translateY(-5px);
}
	100%{transform: translateY(10px);
}

};